// project variables
$max-project-types:12;

@mixin project-styles($angle-start: -90deg, $angle-range: 360deg){
  $modifier: 0;
  @if $angle-range < 360deg {
    $modifier: 1;
  }
  @for $projects from 1 to $max-project-types+1 {
    .projects#{$projects} {
      @for $position from 0 to $max-project-types {
         .position#{$position} {
          $angle: $angle-start + ($position * $angle-range/($projects - $modifier));
          transform: rotate($angle) translate(250%) rotate(-$angle);
        }
      }
    }
  }
}


section.work {

  .clients {
    @extend %clearfix;
  }

  .client-wrapper {
    @include project-styles();
    float:left;
    margin-bottom:4%;
    margin-right:4%;
    padding-bottom:22%;
    position: relative;
    width:22%;

    &:nth-of-type(4n) {
      margin-right:0;
    }
  }

  .client {
    $mask: url('/images/client.svg');
    mask: $mask;
    -webkit-mask: $mask top left / cover;
    -o-mask: $mask top left / cover;
    -ms-mask: $mask top left / cover;
    background:$mask center center no-repeat white;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    transition: all 0.5s ease;
    transition-delay: 0.5s;
    padding-bottom:100%;
    width:100%;
    
    img.logo {
      height: 60%;
      width: 60%;
      padding: 20%;
      position:absolute;
      transition: all 0.5s ease;
      transition-delay: 0.5s;
    }

    a {
      @extend %maven;
      bottom:35%;
      color: $gray;
      font-size:.8em;
      left:30%;
      line-height:32px;
      opacity:0;
      position:absolute;
      text-align:center;
      text-decoration:none;
      text-transform: uppercase;
      transition: all 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
      transition-delay: 0;
      width:40%;

      svg.icon {
        display:inline-block;
        float:none;
        margin: 6px 2px 6px 0;
        vertical-align: bottom;

        path {
          stroke: $gray;
          stroke-width: 2px;
        }
      }

      &:hover {
        text-decoration: underline;
      }

    }

    .project {
      font-size:2rem;
      left:56%;
      margin:-5% -12%;
      opacity:0;
      position:absolute;
      text-align:center;
      top:50%;
      transition: all 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
      transition-delay: 0;
      height: 12%;
      width:12%;

      path, .st0, .st1, .st2 {
        fill: $gray;
      }

      &:after {
        display:block;
        font-size:0.7rem;
        margin-top:10%;
      }

    }

    &.active {
      margin-top: -50%;
      margin-left: -50%;
      padding-bottom:200%;
      transition-delay: 0s;
      width:200%;
      z-index: 1;

      img.logo {
        height:25%;
        margin-top:-5%;
        padding:37.5%;
        transition-delay: 0s;
        width:25%;
      }

      a {
        opacity:1;
      }

      .project {
        opacity:1;
        transition-delay: 0.5s;

        @for $i from 1 to $max-project-types {
          &:nth-of-type(#{$i}) {
            $delay: (0.5s + ($i - 1)* .1s);
            transition-delay: $delay;
          }
        }
      }
    }
  }


  // NON-LARGE DESKTOP & IPAD
  @media screen and (max-width: 1190px) and (min-width: 569px) {
    // these can only take up 180 
    // bc the other side will be cutoff

    .client-wrapper:nth-of-type(4n+1),
    .client-wrapper:nth-of-type(1) {
      @include project-styles(-90deg,180deg);
    }
    .client-wrapper:nth-of-type(4n){
      @include project-styles(90deg,180deg);
    }
  }


  // PHONES
  @media screen and (max-width: 568px) {

    &.work {
      .client-wrapper {
        margin-bottom:5%;
        margin-right:5%;
        padding-bottom:30%;
        width:30%;
      
        &:nth-of-type(3n){
          margin-right:0;
        }

        &:nth-of-type(4) {
          margin-right: 5%;
        }

        .project {
          font-size:1.5rem;
        }

        a {
          bottom:30%;
          font-size:.7em;
        }
      }

      .client-wrapper:nth-of-type(3n+1),
      .client-wrapper:nth-of-type(1) {
        @include project-styles(-90deg,180deg);
      }
      .client-wrapper:nth-of-type(3n){
        @include project-styles(90deg,180deg);
      }
    }
  }
}