@import url(https://fonts.googleapis.com/css?family=Maven+Pro:700,900);

$green-light: rgb(240,255,246);
$green: rgb(156,224,191);
$green-dark: rgb(118,196,154);
$orange: rgb(255,120,0);
$gray: rgb(51,51,51);
$yellow: rgb(253,255,243);

$museo-slab: "museo-slab", serif;
$maven: "Maven Pro", sans-serif;

%maven {
  font-family: $maven;
  font-weight: 700;
}
%maven-black {
  font-family: $maven;
  font-weight: 900;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html, button, input, select, textarea {
  font-family: $museo-slab;
}

body {
  background-color: $green-light;
  color: $gray;
}

h1, h2 {
  @extend %maven-black;
}

.container {
  margin: 0 auto;
  max-width:980px;
  padding:0;
  position:relative;

  @media screen and (max-width: 1000px) {
    margin:0 20px;
  }
}

.button {
  @extend %maven;
  background-color: $orange;
  box-sizing: border-box;
  border-radius:22px;
  color:white;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

section {
  padding:40px 0;

  h1 {
    border-bottom: 2px solid $green;
    display:inline-block;
    font-size: 21px;
    margin:0;
    padding:0 15px 10px 0;
    text-transform: uppercase;

    @media screen and (max-width: 568px) {
      font-size:19px;
    }
  }
}

svg.icon {
  width: 20px;
  height: 20px;
  margin: 13px 8px 0 0;
  float: left;

  path {
    fill: #fff;
  }
}

footer {
  background-color:$green;
  text-align:center;
  .wordmark {
    margin:5% auto;
    width:50%;
  }
}

@import 'header';
@import 'nav';
@import 'about';
@import 'contact';
@import 'work';


