@import url(https://fonts.googleapis.com/css?family=Maven+Pro:700,900);
@import "normalize";

$green-light: rgb(240,255,246);
$green: rgb(156,224,191);
$green-dark: rgb(118,196,154);
$orange: rgb(255,120,0);
$gray: rgb(51,51,51);
$yellow: rgb(253,255,243);

$museo-slab: "museo-slab", serif;
$maven: "Maven Pro", sans-serif;

$phone-max-width: 568px;

%maven {
  font-family: $maven;
  font-weight: 700;
}
%maven-black {
  font-family: $maven;
  font-weight: 900;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin screen-phone {
  @media screen and (max-width: $phone-max-width) {
    @content;
  }
}

// iPhone 4s, 5, 5s
@mixin screen-sm {
  @media only screen and (max-device-width: 320px) {
    @content;
  }
}

html, button, input, select, textarea {
  font-family: $museo-slab;
}

body {
  background-color: $green-light;
  color: $gray;
}

h1, h2 {
  @extend %maven-black;
}

a, a:visited {
  color: $orange;
}

a:hover {
  color: darken($orange, 10%);
}

.container {
  margin: 0 auto;
  max-width:980px;
  padding:0;
  position:relative;

  @media screen and (max-width: 1000px) {
    margin:0 20px;
  }
}

@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.button {
  @extend %maven;
  background-color: $orange;
  box-sizing: border-box;
  border-radius:1.5em;
  color:white;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  line-height:3em;
  padding:0 1em;
  white-space: nowrap;

  .icon {
    width: 1em;
    height: 1em;
    margin: 1em 0.5em 0 0;
    float: left;

    path {
      fill: #fff;
      stroke: white;
      stroke-width: 2px;
    }
  }

  @include screen-phone {
    font-size:.8em;
  }

  @include screen-sm {
    font-size:.7em;
  }

  &.button-sm {
    font-size: .8em;
    line-height: 2em;

    @include screen-phone {
      font-size: .7em;
      padding: 0 1em;

    }

    @include screen-sm {
      font-size:.5em;

    }

    .icon {
      margin: .55em .2em 0 -.3em;
      
      @include screen-sm {
        margin: .6em .2em .4em -.3em;
      }
    }

  }

  &:hover {
    .icon {
      -webkit-animation-name: hvr-icon-pop;
      animation-name: hvr-icon-pop;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }
  }
}

a.button, a.button:hover {
  color: #fff;
}

section {
  padding:40px 0;

  h1 {
    border-bottom: 2px solid $green;
    display:inline-block;
    font-size: 1.2em;
    margin:0;
    padding:0 15px 10px 0;
    text-transform: uppercase;

    @include screen-phone {
      font-size:1.1em;
    }
  }

  p {
    line-height:1.6em;
    margin-bottom: 1.6em;
  }
}

footer {
  background-color:$green;
  text-align:center;
  .wordmark {
    margin:5% auto;
    width:50%;
  }
}

@import 'header';
// @import 'nav';
// @import 'about';
@import 'contact';
@import 'work';


